<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <form action="/post/new" method="post">
            <div class="form-group">
                <p>
                    작성자 <input type="text" id="writer" name="writer" placeholder="작성자">
                </p>

                <p>
                    제목 <input type="text" id="title" name="title" placeholder="제목">
                </p>

                <p>
                    내용 <input type="text" id="content" name="content" placeholder="내용">
                </p>

                <p>
                    <button type="submit">등록</button>
                </p>

            </div>
        </form>
    </div>
</body>
</html>